@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Montserrat:wght@300;500&display=swap');

body {
    font-family: 'Montserrat', Arial, sans-serif;
    background: linear-gradient(to right, #fce4ec, #f3e5f5);
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}

/* MAIN TITLE */
h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    background: linear-gradient(to right, #6a1b9a, #ec407a);
    padding: 15px;
    border-radius: 10px;
    letter-spacing: 2px;
}

/* HEADINGS */
h2 {
    color: #6a1b9a;
}

h3 {
    color: #ec407a;
}

/* NAV LINKS */
a {
    text-decoration: none;
    margin: 10px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 8px;
    color: #6a1b9a;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    background-color: #6a1b9a;
    color: white;
}

/* TEXT */
p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* IMAGES */
img {
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* LISTS */
ul, ol {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
